services:
  mc:
    image: itzg/minecraft-server
    environment:
      EULA: "true"
      TYPE: "FABRIC"
      MEMORY: "10G"
    ports:
        - "25565:25565"
        - "25565:25565/udp"
    volumes:
      - ./data:/data
      - ./mods:/data/mods
      - ./config:/data/config
