---
import { APP_TITLE } from '../consts';
---

<a href="/" class="text-4xl md:text-8xl font-black mb-4 font-title text-violet-400 hover:text-violet-700 transition-colors" transition:name="logo">{APP_TITLE}</a>
